<div class="container">
  <div class="intro">
    <div class="user-image">
      {{! <img src="img/user-default.png" alt="user-image" class="circle responsive-img" /> }}
      <img src={{image}} alt="user-image" class="circle responsive-img" />
    </div>
    <div class="welcome">
      Welcome
      {{name}}, Glad to see you here!!
      <br />
      Member since
      {{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}
    </div>
  </div>
</div>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/stories/edit/{{_id}}" class="btn btn-float">
              <i class="fas fa-edit"></i>
            </a>

            <form action="/stories/{{_id}}" method="POST" id="delete-form">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button>
            </form>

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div style="text-align: center;">
    <h1>No stories yet 😕</h1>
    <p>Click on the add button at the bottom to add Stories</p>
  </div>

{{/if}}